body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Header */
header {
	background: #19414B;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #2EABB8 7px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul {
	margin: 0;
	padding: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
	letter-spacing: 5px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .current a{
	color: #2EABB8;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* showcase */
#showcase {
	min-height: 700px;
	background: url('../Billeder/gamle-mennesker.png') no-repeat;
	background-position: center -2px;
	text-align: center;
}

#showcase h1 {
	font-size: 40px;
	margin-top: 250px;
}

#showcase p {
	font-size: 20px;
}

/* Table */
table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

th {
	border-bottom: 1px solid #ddd;
	height: 20px;
	padding: 15px;
	background-color: #262626;
	color: #ffffff;
}

td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	height: 20px;
}

tr:hover {
	background-color: #f5f5f5;
}

.mdl-layout-title {
	font-weight: bold;
}

/* Checkbox */
input[type=checkbox] {
	cursor: pointer;
	transform: scale(1.3);
}

#coming-soon {
	text-align: center;
	font-size: 50px;
	margin-top: 250px;
}